# Environment
.env
*.env
!.env.example

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.tox/

# IDEs
.idea/
.vscode/
